<div class="container" style="border: solid 1px">
    <div style="border: dotted dodgerblue 1px">
        <!-- this div is for user profile, time and post  -->
        <div class="row" style="border: solid 1px black">
            <!-- this div is for image, name and time -->
            <div class="col-lg-1 col-md-1 col-sm-12">Image</div>
            <div class="col-sm-12 col-lg-2 col-md-2">Name</div>
            <div class="col-sm-2 col-lg-2 col-md-2">Time</div>
        </div>
        <div class="mt-1">
            <!-- this div is for user's post and image -->
            <div class="col-xs-4">This is for user's written message</div>
            for this tag we have to check if there is any data then display image else
            this block will not happen
            <div class="col-xs-12">
                This is for user's image <b>"if posted any".</b>
            </div>
        </div>
    </div>
    <div>
        <!-- Here lies likes and comment section -->
        <div style="display: inline-block; border: solid 1px black" class="mt-1 mb-1">
            <!-- This div is for likes and comments  -->
            <div class="col-xs-1" style="display: inline">like button</div>
            <div class="col-xs-1 ml-5" style="display: inline">
                liked by 2 & others
            </div>
            <div class="col-xs-1 ml-5" style="display: inline; text-align: right">
                No. of comments
            </div>
            <div class="col-xs-1 ml-5" style="display: inline; text-align: right">
                comments
            </div>
        </div>
        <div class="mt-1" style="border: solid 1px black">
            <!-- This div is for like button & Comment button that will allow you to do comment -->
            <div class="col-xs-1" style="display: inline">Like button</div>
            <div class="col-xs-1 ml-5" style="display: inline">Comment button</div>
        </div>
    </div>
    <div>
        <!-- Comments Section  -->
        <!-- If comments are available then only 2 comments will be shown at first instance,
        rest will be shown when there happens a click on comment button  -->
        <div class="row" style="border: solid 1px dodgerblue">
            <!-- For 1 Comment block. This div will have for loop for multiple comments   -->
            <div class="col-xs-1">Pic of commenter</div>
            <div class="row">
                <div class="col-xs-2">Name </div>
                <div class="col-xs-4">Here lies his comments </div>
            </div>
        </div>
    </div>
</div>