<div class="card" style="border: solid 1px;">
    <div [class]="style.cardHeader">
        Discussions
    </div>
    <div>
        <button #newDiscussion>Start New Discussion +</button>
    </div>
    <div>
        <div>
            <img src="img_girl.jpg" alt="Profile Picture" width="500" height="600">
            <p id="p1">Name</p>
        </div>
        <input type="text" style="width: 20%;" placeholder="Start Your Discussion Here.."><br>
        <input style="display:none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button (click)="fileInput.click()">Select File </button>
    </div>
    <div>
        <button>Save</button>
    </div>
</div>