<div class="m-1">
    <h3>Hi, {{'Interpolation'}} is performed here.</h3>
    <p>{{usageOfInterpolation}}</p>
    <h5>{{interpolationThroughMethod()}}</h5>

    <h3>Property Binding</h3>
    <p>Here the button gets abled after 3 seconds. </p>
    <button class="btn btn-primary" [disabled]='!delayMyButton'>Delayed Property Binding button</button>

    <h3>Event Binding</h3>
    <button class="btn btn-primary" (click)="onEventBindingCreation()" [disabled]='!delayMyButton'>Create Event</button>
    <p>{{myEvent}}</p>
</div>