<ng-container>
    <div class="row" style="background-color: black;">
        <div class="col-sm-12 col-lg-1 col-md-1 ml-3 mt-1 mb-1 mr-1">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREkFvt6oSITqqhQniFeTsqfdmQ0WMqTyDbkw&usqp=CAU"
                alt="" style="width: 40px; height: 40px;">
        </div>
        <div class="col-sm-12 col-lg-2 col-md-2" style="margin-left: -80px;">
            <h2 class="font-white">SoundAMP</h2>
        </div>
        <div class="float-right"></div>
        <div class="col-sm-12 col-lg-6 col-md-6 font-white m-1 float-right" style="display: inline-flex;">
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    HTML dropdown<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>

            <div>
                <!-- Dropdown -->
                <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        More HTML dropdown<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                    </div>
                </li>
            </div>
            <div>
                <button class="buttonCss">Download Now</button>
            </div>
        </div>
        <div class="col-sm-12 col-lg-3 col-md-3 float-right" style="display: inline-flex;">
            <div>
                <i class="fa fa-youtube fontAwesome-icons" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-instagram fontAwesome-icons" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-linkedin-square fontAwesome-icons" aria-hidden="true"></i>
            </div>
            <div>
                <i class="fa fa-twitter fontAwesome-icons" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div style="background-color: rgb(73, 73, 73);">
        <div class="row ml-5 mr-5  mb-1">
            <div class="mt-2 col-sm-12 col-lg-12 col-md-12">
                <img style="width:100%; height: 150px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxeMC1AiCw-4BABl834C_-ydFiIGyZ9Dltiw&usqp=CAU"
                    alt="All event">
            </div>
        </div>
        <!-- dabbe  -->
        <div class="row ml-5 mr-5 mt-1 mb-1">
            <div class="col-sm-12 col-md-3 col-lg-3 p-1">
                <div>
                    <img style="width: 100%;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWVrH0hbIw4kj28f8HDSkm2z5G0B0anZSmvQ&usqp=CAU"
                        alt="Night Laser Show">
                </div>
                <div class="textArea p-1">
                    <div>
                        <p class="contentArea">10/04/21</p>
                    </div>
                    <div>
                        <h4><i> Night Laser Show</i> </h4>
                    </div>
                    <div>
                        <p class="contentArea">Text ,,,,,,,</p>
                    </div>
                    <div>
                        <button class="buttonCss">See More...</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 p-1">
                <div>
                    <img style="width: 100%;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRlwKsXdo8aSm4E6IxmGHC8-STyP41rzy1vw&usqp=CAU"
                        alt="Night Laser Show">
                </div>
                <div class="textArea p-1">
                    <div>
                        <p class="contentArea">10/04/21</p>
                    </div>
                    <div>
                        <h4><i> Night Laser Show</i> </h4>
                    </div>
                    <div>
                        <p class="contentArea">Text ,,,,,,,</p>
                    </div>
                    <div>
                        <button class="buttonCss">See More...</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 p-1">
                <div>
                    <img style="width: 100%; height: 231px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQnaOZmx9yOw8B-fHCLP7X_qwG5ykAvyzaow&usqp=CAU"
                        alt="Night Laser Show">
                </div>
                <div class="textArea p-1">
                    <div>
                        <p class="contentArea">10/04/21</p>
                    </div>
                    <div>
                        <h4><i> Night Laser Show</i> </h4>
                    </div>
                    <div>
                        <p class="contentArea">Text ,,,,,,,
                            Text ,,,,,,,Text ,,,,,,,Text ,,,,,,,Text ,,,,,,,
                        </p>
                    </div>
                    <div>
                        <button class="buttonCss">See More...</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 p-1">
                <div>
                    <img style="width: 100%;height: 231px;"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmF7xrBjIIMcjEYAUly_tJ5F4coQHX55ejcA&usqp=CAU"
                        alt="Night Laser Show">
                </div>
                <div class="textArea p-1">
                    <div>
                        <p class="contentArea">10/04/21</p>
                    </div>
                    <div>
                        <h4><i> Night Laser Show</i> </h4>
                    </div>
                    <div>
                        <p class="contentArea">Text ,,,,,,,</p>
                    </div>
                    <div>
                        <button class="buttonCss">See More...</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>