<div class="container" style="border: double 5px grey;">
    <div>
        <div class="row" style="border: solid 1px grey; color: white ;background-color:grey;">
            <!-- For header  -->
            <div class="col-sm-12 col-md-10 col-lg-10">
                <h4>Your Paper</h4>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                Timer
            </div>
        </div>
        <div class="row m-1">
            <!-- for question and options  -->
            <div class="col-12" style="display: inline-flex;">
                <h5>1. </h5>
                <h5> Question </h5>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" style="display: inline-flex;">
                <input class="m-2" type="radio" name="" id="">
                <p>Option1</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" style="display: inline-flex;">
                <input class="m-2" type="radio" name="" id="">
                <p>Option1</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" style="display: inline-flex;">
                <input class="m-2" type="radio" name="" id="">
                <p>Option1</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" style="display: inline-flex;">
                <input class="m-2" type="radio" name="" id="">
                <p>Option1</p>
            </div>
        </div>
        <div class="row m-1">
            <div class="col-sm-12 col-lg-9 col-md-12"></div>
            <div class="col-sm-3 col-md-3 col-lg-1">
                <button class="btn btn-primary m-1">Previous</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-1">
                <button class="btn btn-primary m-1">Next</button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-1">
                <button class="btn btn-danger m-1">Finish</button>
            </div>
        </div>
    </div>
</div>